.form {
    background: #fff;
    display: inline-block;
    padding: 1em;
    &-body {
        background: #fafafa;
        border: 1px solid #efefef;
        padding: 0.5em;
    }
    fieldset:not(:last-child) {
        margin-bottom: 1em;
    }
}
